<section id="title">
    <h1>Резервации</h1>
</section>

<section id="reservation-admin">
    <table>
        <thead>
            <tr>
                <th>Име, презиме, фамилия</th>
                <th>Тип стая</th>
                <th>Дата на настаняване</th>
                <th>Дата на напускане</th>
                <th></th>

            </tr>
        </thead>
        <tbody id="reservationTable">
            {{#each reservations}}
            <tr>
                <td>{{this.names}}</td>
                <td>{{this.typeOfRoom}}</td>
                <td>{{this.startData}}</td>
                <td>{{this.endData}}</td>
                <td><a href="/check/reservation/{{this._id}}"><i class="fa-solid fa-check mark"></i></a></td>
            </tr>
            {{else}}
            <tr>
                <td>Няма направени резервации</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>