<h1>Банкетна зала</h1>

<p><b>Description: </b>{{banquetHall.description}}</p>
<p><b>Proposal 1: </b>{{banquetHall.proposal1}}</p>
<p><b>Description: </b>{{banquetHall.descriptionProp1}}</p>
<p><b>Proposal 2: </b>{{banquetHall.proposal2}}</p>
<p><b>Description: </b>{{banquetHall.descriptionProp2}}</p>
<p><b>Proposal 3: </b>{{banquetHall.proposal3}}</p>
<p><b>Description: </b>{{banquetHall.descriptionProp3}}</p>
<p><b>Proposal 4: </b>{{banquetHall.proposal4}}</p>
<p><b>Description: </b>{{banquetHall.descriptionProp4}}</p>

