<section id="title">
    <h1>За децата</h1>
</section>

<section id="children">
    <div class="grid-container">
        <div class="grid-item">
            <h3>{{children.entertainment1}}</h3>
            <p>{{children.description1}}</p>
        </div>
        <div class="grid-item">
            <h3>{{children.entertainment2}}</h3>
            <p>{{children.description2}}</p>
        </div>
        <div class="grid-item">
            <h3>{{children.entertainment3}}</h3>
            <p>{{children.description3}}</p>
        </div>
        <div class="grid-item">
            <h3>{{children.entertainment4}}</h3>
            <p>{{children.description4}}</p>
        </div>
    </div>
</section>

<section id="children-img">
    <img src="/content/img/children.jpg" alt="children">
</section>