<section id="title">
    <h1>Двойна стая с балкон</h1>
</section>

<section id="images">
    <div class="grid-container">
        <div class="grid-item"><img src="{{doubleBalconyRoom.img1}}" alt="" class="imageInGrid"></div>
        <div class="grid-item"><img src="{{doubleBalconyRoom.img2}}" alt="" class="imageInGrid"></div>
        <div class="grid-item"><img src="{{doubleBalconyRoom.img3}}" alt="" class="imageInGrid"></div>
        <div class="grid-item"><img src="{{doubleBalconyRoom.img4}}" alt="" class="imageInGrid"></div>
        <div class="grid-item"><img src="{{doubleBalconyRoom.img5}}" alt="" class="imageInGrid"></div>
        <div class="grid-item"><img src="{{doubleBalconyRoom.img6}}" alt="" class="imageInGrid"></div>

    </div>
</section>

<section id="description">
    <h3>Описание</h3>
    <table>
        <tr>
            <td><b><i>Обща информация: </i></b>{{doubleBalconyRoom.info}}</td>
            <td><b><i>Капацитет: </i></b>{{doubleBalconyRoom.capacity}}</td>
            <td><b><i>Размер на стаята: </i></b>{{doubleBalconyRoom.roomSize}}</td>
            <td><b><i>Тераса: </i></b>{{doubleBalconyRoom.terrace}}</td>
        </tr>
        <tr>
            <td><b><i>Самостоятелна баня/Душ кабина: </i></b>{{doubleBalconyRoom.privateBathroom}}</td>
            <td><b><i>Изглед: </i></b>{{doubleBalconyRoom.view}}</td>
            <td><b><i>Домашни любимци: </i></b>{{doubleBalconyRoom.pets}}</td>
            <td><b><i>Намаления и доплащания: </i></b>{{doubleBalconyRoom.discounts}}</td>
        </tr>
    </table>
</section>