<h1>Двойна стая</h1>

<p><b>INFO: </b>{{doubleRoom.info}}</p>
<p><b>CAPACITY: </b>{{doubleRoom.capacity}}</p>
<p><b>ROOM SIZE: </b>{{doubleRoom.roomSize}}</p>
<p><b>TERRACE: </b>{{doubleRoom.terrace}}</p>
<p><b>PRIVATE ROOM: </b>{{doubleRoom.privateRoom}}</p>
<p><b>VIEW: </b>{{doubleRoom.view}}</p>
<p><b>PETS: </b>{{doubleRoom.pets}}</p>
<p><b>DISCOUNTS: </b>{{doubleRoom.discounts}}</p>

<img src="{{doubleRoom.img1}}" alt="img1">
<img src="{{doubleRoom.img2}}" alt="img2">
<img src="{{doubleRoom.img3}}" alt="img3">
<img src="{{doubleRoom.img4}}" alt="img4">
<img src="{{doubleRoom.img5}}" alt="img5">