<section id="title">
    <h1>Лоби бар</h1>
</section>

<section id="breakfast">
    <div id="images">
        <h3>Кафе</h3>
        <div class="grid-container">
            <div class="grid-item"><img src="{{lobby.imgCaffe1}}" alt="" class="imageInGrid">
                <p class="food-title">{{lobby.caffe1}}</p>
                <p class="food-description">{{lobby.descriptionCaffe1}}</p>
            </div>
            <div class="grid-item"><img src="{{lobby.imgCaffe2}}" alt="" class="imageInGrid">
                <p class="food-title">{{lobby.caffe2}}</p>
                <p class="food-description">{{lobby.descriptionCaffe2}}</p>
            </div>
            <div class="grid-item"><img src="{{lobby.imgCaffe3}}" alt="" class="imageInGrid">
                <p class="food-title">{{lobby.caffe3}}</p>
                <p class="food-description">{{lobby.descriptionCaffe3}}</p>
            </div>
        </div>
    </div>

    <div id="images">
        <h3>Коктейли</h3>
        <div class="grid-container">
            <div class="grid-item"><img src="{{lobby.imgCocktail1}}" alt="" class="imageInGrid">
                <p class="food-title">{{lobby.cocktail1}}</p>
                <p class="food-description">{{lobby.descriptionCocktail1}}</p>
            </div>
            <div class="grid-item"><img src="{{lobby.imgCocktail2}}" alt="" class="imageInGrid">
                <p class="food-title">{{lobby.cocktail2}}</p>
                <p class="food-description">{{lobby.descriptionCocktail2}}</p>
            </div>
            <div class="grid-item"><img src="{{lobby.imgCocktail3}}" alt="" class="imageInGrid">
                <p class="food-title">{{lobby.cocktail3}}</p>
                <p class="food-description">{{lobby.descriptionCocktail3}}</p>
            </div>
        </div>
    </div>

    <div id="images">
        <h3>Алкохол и наргилета</h3>
        <div class="grid-container">
            <div class="grid-item"><img src="{{lobby.imgWhiskey}}" alt="" class="imageInGrid">
                <p class="food-title">{{lobby.whiskey}}</p>
                <p class="food-description">{{lobby.descriptionWhiskey}}</p>
            </div>
            <div class="grid-item"><img src="{{lobby.imgChampagne}}" alt="" class="imageInGrid">
                <p class="food-title">{{lobby.champagne}}</p>
                <p class="food-description">{{lobby.descriptionChampagne}}</p>
            </div>
            <div class="grid-item"><img src="{{lobby.imgVodka}}" alt="" class="imageInGrid">
                <p class="food-title">{{lobby.vodka}}</p>
                <p class="food-description">{{lobby.descriptionVodka}}</p>
            </div>
            <div class="grid-item"><img src="{{lobby.imgTequila}}" alt="" class="imageInGrid">
                <p class="food-title">{{lobby.tequila}}</p>
                <p class="food-description">{{lobby.descriptionTequila}}</p>
            </div>
            <div class="grid-item"><img src="{{lobby.imgBeer}}" alt="" class="imageInGrid">
                <p class="food-title">{{lobby.beer}}</p>
                <p class="food-description">{{lobby.descriptionBeer}}</p>
            </div>
            <div class="grid-item"><img src="{{lobby.imgHookah}}" alt="" class="imageInGrid">
                <p class="food-title">{{lobby.hookah}}</p>
                <p class="food-description">{{lobby.descriptionHookah}}</p>
            </div>
        </div>
    </div>


    <div id="images">
        <h3>Аламинути</h3>
        <div class="grid-container">
            <div class="grid-item"><img src="{{lobby.imgSandwiches}}" alt="" class="imageInGrid">
                <p class="food-title">{{lobby.sandwiches}}</p>
                <p class="food-description">{{lobby.descriptionSandwiches}}</p>
            </div>
            <div class="grid-item"><img src="{{lobby.imgSweets}}" alt="" class="imageInGrid">
                <p class="food-title">{{lobby.sweets}}</p>
                <p class="food-description">{{lobby.descriptionSweets}}</p>
            </div>
        </div>
    </div>
</section>