<h1>Лоби бар</h1>

<p><b>Coffe 1: </b>{{lobby.caffe1}}</p>
<p><b>Description: </b>{{lobby.descriptionCaffe1}}</p>
<img src="{{lobby.imgCaffe1}}" alt="img1">
<p><b>Coffe 2: </b>{{lobby.caffe2}}</p>
<p><b>Description: </b>{{lobby.descriptionCaffe2}}</p>
<img src="{{lobby.imgCaffe2}}" alt="img2">
<p><b>Coffe 3: </b>{{lobby.caffe3}}</p>
<p><b>Description: </b>{{lobby.descriptionCaffe3}}</p>
<img src="{{lobby.imgCaffe3}}" alt="img3">

<p><b>Cocktail 1: </b>{{lobby.cocktail1}}</p>
<p><b>Description: </b>{{lobby.descriptionCocktail1}}</p>
<img src="{{lobby.imgCocktail1}}" alt="img1">
<p><b>Cocktail 2: </b>{{lobby.cocktail2}}</p>
<p><b>Description: </b>{{lobby.descriptionCocktail2}}</p>
<img src="{{lobby.imgCocktail2}}" alt="img2">
<p><b>Cocktail 3: </b>{{lobby.cocktail3}}</p>
<p><b>Description: </b>{{lobby.descriptionCocktail3}}</p>
<img src="{{lobby.imgCocktail3}}" alt="img3">

<p><b>Whiskey: </b>{{lobby.whiskey}}</p>
<p><b>Description: </b>{{lobby.descriptionWhiskey}}</p>
<img src="{{lobby.imgWhiskey}}" alt="img1">

<p><b>Champagne: </b>{{lobby.champagne}}</p>
<p><b>Description: </b>{{lobby.descriptionChampagne}}</p>
<img src="{{lobby.imgChampagne}}" alt="img1">

<p><b>Vodka: </b>{{lobby.vodka}}</p>
<p><b>Description: </b>{{lobby.descriptionVodka}}</p>
<img src="{{lobby.imgVodka}}" alt="img1">

<p><b>Tequila: </b>{{lobby.tequila}}</p>
<p><b>Description: </b>{{lobby.descriptionTequila}}</p>
<img src="{{lobby.imgTequila}}" alt="img1">

<p><b>Beer: </b>{{lobby.beer}}</p>
<p><b>Description: </b>{{lobby.descriptionBeer}}</p>
<img src="{{lobby.imgBeer}}" alt="img1">

<p><b>Hookah: </b>{{lobby.hookah}}</p>
<p><b>Description: </b>{{lobby.descriptionHookah}}</p>
<img src="{{lobby.imgHookah}}" alt="img1">

<p><b>Sandwiches: </b>{{lobby.sandwiches}}</p>
<p><b>Description: </b>{{lobby.descriptionSandwiches}}</p>
<img src="{{lobby.imgSandwiches}}" alt="img1">
<p><b>Sweets: </b>{{lobby.sweets}}</p>
<p><b>Description: </b>{{lobby.descriptionSweets}}</p>
<img src="{{lobby.imgSweets}}" alt="img1">