<h1>Едностаен апартамент</h1>

<p><b>INFO: </b>{{oneRoomApart.info}}</p>
<p><b>CAPACITY: </b>{{oneRoomApart.capacity}}</p>
<p><b>ROOM SIZE: </b>{{oneRoomApart.roomSize}}</p>
<p><b>TERRACE: </b>{{oneRoomApart.terrace}}</p>
<p><b>PRIVATE ROOM: </b>{{oneRoomApart.privateRoom}}</p>
<p><b>VIEW: </b>{{oneRoomApart.view}}</p>
<p><b>PETS: </b>{{oneRoomApart.pets}}</p>
<p><b>DISCOUNTS: </b>{{oneRoomApart.discounts}}</p>

<img src="{{oneRoomApart.img1}}" alt="img1">
<img src="{{oneRoomApart.img2}}" alt="img2">
<img src="{{oneRoomApart.img3}}" alt="img3">
<img src="{{oneRoomApart.img4}}" alt="img4">
<img src="{{oneRoomApart.img5}}" alt="img5">