<section id="title">
    <h1>Едностаен апартамент</h1>
</section>

<section id="images">
    <div class="grid-container">
        <div class="grid-item"><img src="{{oneRoomApart.img1}}" alt="" class="imageInGrid"></div>
        <div class="grid-item"><img src="{{oneRoomApart.img2}}" alt="" class="imageInGrid"></div>
        <div class="grid-item"><img src="{{oneRoomApart.img3}}" alt="" class="imageInGrid"></div>
        <div class="grid-item"><img src="{{oneRoomApart.img4}}" alt="" class="imageInGrid"></div>
        <div class="grid-item"><img src="{{oneRoomApart.img5}}" alt="" class="imageInGrid"></div>
        <div class="grid-item"><img src="{{oneRoomApart.img6}}" alt="" class="imageInGrid"></div>

    </div>
</section>

<section id="description">
    <h3>Описание</h3>
    <table>
        <tr>
            <td><b><i>Обща информация: </i></b>{{oneRoomApart.info}}</td>
            <td><b><i>Капацитет: </i></b>{{oneRoomApart.capacity}}</td>
            <td><b><i>Размер на стаята: </i></b>{{oneRoomApart.roomSize}}</td>
            <td><b><i>Тераса: </i></b>{{oneRoomApart.terrace}}</td>
        </tr>
        <tr>
            <td><b><i>Самостоятелна баня/Душ кабина: </i></b>{{oneRoomApart.privateBathroom}}</td>
            <td><b><i>Изглед: </i></b>{{oneRoomApart.view}}</td>
            <td><b><i>Домашни любимци: </i></b>{{oneRoomApart.pets}}</td>
            <td><b><i>Намаления и доплащания: </i></b>{{oneRoomApart.discounts}}</td>
        </tr>
    </table>
</section>