<section id="title">
    <h1>Президентски апартамент</h1>
</section>

<section id="images">
    <div class="grid-container">
        <div class="grid-item"><img src="{{presidentApart.img1}}" alt="" class="imageInGrid"></div>
        <div class="grid-item"><img src="{{presidentApart.img2}}" alt="" class="imageInGrid"></div>
        <div class="grid-item"><img src="{{presidentApart.img3}}" alt="" class="imageInGrid"></div>
        <div class="grid-item"><img src="{{presidentApart.img4}}" alt="" class="imageInGrid"></div>
        <div class="grid-item"><img src="{{presidentApart.img5}}" alt="" class="imageInGrid"></div>
        <div class="grid-item"><img src="{{presidentApart.img6}}" alt="" class="imageInGrid"></div>

    </div>
</section>

<section id="description">
    <h3>Описание</h3>
    <table>
        <tr>
            <td><b><i>Обща информация: </i></b>{{presidentApart.info}}</td>
            <td><b><i>Капацитет: </i></b>{{presidentApart.capacity}}</td>
            <td><b><i>Размер на стаята: </i></b>{{presidentApart.roomSize}}</td>
            <td><b><i>Тераса: </i></b>{{presidentApart.terrace}}</td>
        </tr>
        <tr>
            <td><b><i>Самостоятелна баня/Душ кабина: </i></b>{{presidentApart.privateBathroom}}</td>
            <td><b><i>Изглед: </i></b>{{presidentApart.view}}</td>
            <td><b><i>Домашни любимци: </i></b>{{presidentApart.pets}}</td>
            <td><b><i>Намаления и доплащания: </i></b>{{presidentApart.discounts}}</td>
        </tr>
    </table>
</section>