<h1>Ресторант</h1>

<p><b>Breakfast 1: </b>{{restaurant.breakfast1}}</p>
<p><b>Description: </b>{{restaurant.descriptionBreakfast1}}</p>
<img src="{{restaurant.imgBrakfast1}}" alt="img1">
<p><b>Breakfast 2: </b>{{restaurant.breakfast2}}</p>
<p><b>Description: </b>{{restaurant.descriptionBreakfast2}}</p>
<img src="{{restaurant.imgBrakfast2}}" alt="img2">
<p><b>Breakfast 3: </b>{{restaurant.breakfast3}}</p>
<p><b>Description: </b>{{restaurant.descriptionBreakfast3}}</p>
<img src="{{restaurant.imgBrakfast2}}" alt="img3">

<p><b>Linch 1: </b>{{restaurant.lunch1}}</p>
<p><b>Description: </b>{{restaurant.descriptionLunch1}}</p>
<img src="{{restaurant.imgLunch1}}" alt="img1">
<p><b>Linch 2: </b>{{restaurant.lunch2}}</p>
<p><b>Description: </b>{{restaurant.descriptionLunch2}}</p>
<img src="{{restaurant.imgLunch2}}" alt="img2">
<p><b>Linch 3: </b>{{restaurant.lunch3}}</p>
<p><b>Description: </b>{{restaurant.descriptionLunch3}}</p>
<img src="{{restaurant.imgLunch3}}" alt="img3">

<p><b>Dinner 1: </b>{{restaurant.dinner1}}</p>
<p><b>Description: </b>{{restaurant.descriptionDinner1}}</p>
<img src="{{restaurant.imgDinner1}}" alt="img1">
<p><b>Dinner 2: </b>{{restaurant.dinner2}}</p>
<p><b>Description: </b>{{restaurant.descriptionDinner2}}</p>
<img src="{{restaurant.imgDinner2}}" alt="img2">
<p><b>Dinner 3: </b>{{restaurant.dinner3}}</p>
<p><b>Description: </b>{{restaurant.descriptionDinner3}}</p>
<img src="{{restaurant.imgDinner3}}" alt="img3">