<h1>Спа център</h1>

<p><b>Spa: </b>{{spa.spa}}</p>
<p><b>Cosmetic Ideas: </b>{{spa.cosmeticIdeas}}</p>
<p><b>Indoor Spa: </b>{{spa.indoorSpa}}</p>
<p><b>Outdoor Spa: </b>{{spa.outdoorSpa}}</p>
<p><b>Pools: </b>{{spa.pools}}</p>
<p><b>Beauty Salon: </b>{{spa.beautySalon}}</p>
