<section id="title">
    <h1>Спа център</h1>
</section>

<section id="spa">
    <div class="grid-container">
        <div class="grid-item">
            <h3>SPA ПРЕДЛОЖЕНИЯ</h3>
            <p>{{spa.spa}}</p>
        </div>
        <div class="grid-item">
            <h3>КОЗМЕТИЧНИ ПРЕДЛОЖЕНИЯ</h3>
            <p>{{spa.cosmeticIdeas}}</p>
        </div>
        <div class="grid-item">
            <h3>ВЪТРЕШНО СПА</h3>
            <p>{{spa.indoorSpa}}</p>
        </div>
        <div class="grid-item">
            <h3>ВЪНШНО СПА</h3>
            <p>{{spa.outdoorSpa}}</p>
        </div>
        <div class="grid-item">
            <h3>БАСЕЙНИ</h3>
            <p>{{spa.pools}}</p>
        </div>
        <div class="grid-item">
            <h3>САЛОН ЗА КРАСОТА</h3>
            <p>{{spa.beautySalon}}</p>
        </div>

    </div>
</section>