<h1>Летен бар</h1>

<img src="{{summerBar.img1}}" alt="img1">
<img src="{{summerBar.img2}}" alt="img2">
<img src="{{summerBar.img3}}" alt="img3">
<img src="{{summerBar.img4}}" alt="img4">
<img src="{{summerBar.img5}}" alt="img5">
<img src="{{summerBar.img6}}" alt="img6">
<img src="{{summerBar.img7}}" alt="img7">
<img src="{{summerBar.img8}}" alt="img8">
<img src="{{summerBar.img9}}" alt="img9">
<img src="{{summerBar.img10}}" alt="img10">
