<section id="title">
    <h1>Летен бар</h1>
</section>

<section id="summer">
    <table>
        <tr>
            <td><img src="{{summerBar.img1}}" alt="" class="summer-bar-img"></td>
            <td>
                <h1>ПЛАНИНСКА ГЛЕДКА</h1>
                <p>Релаксираща гледка към басейните, градината или планината. Насладете се на тишината и
                    спокойствието!</p>
            </td>
            <td><img src="{{summerBar.img2}}" alt="" class="summer-bar-img"></td>
        </tr>
        <tr>
            <td>
                <h1>ПЛАНИНСКА ГЛЕДКА</h1>
                <p>Релаксираща гледка към басейните, градината или планината. Насладете се на тишината и
                    спокойствието!</p>
            </td>
            <td><img src="{{summerBar.img3}}" alt="" class="summer-bar-img"></td>
            <td>
                <h1>ПЛАНИНСКА ГЛЕДКА</h1>
                <p>Релаксираща гледка към басейните, градината или планината. Насладете се на тишината и
                    спокойствието!</p>
            </td>
        </tr>
        <tr>
            <td><img src="{{summerBar.img4}}" alt="" class="summer-bar-img"></td>
            <td>
                <h1>ПЛАНИНСКА ГЛЕДКА</h1>
                <p>Релаксираща гледка към басейните, градината или планината. Насладете се на тишината и
                    спокойствието!</p>
            </td>
            <td><img src="{{summerBar.img5}}" alt="" class="summer-bar-img"></td>
        </tr>
        <tr>
            <td>
                <h1>ПЛАНИНСКА ГЛЕДКА</h1>
                <p>Релаксираща гледка към басейните, градината или планината. Насладете се на тишината и
                    спокойствието!</p>
            </td>
            <td><img src="{{summerBar.img6}}" alt="" class="summer-bar-img"></td>
            <td>
                <h1>ПЛАНИНСКА ГЛЕДКА</h1>
                <p>Релаксираща гледка към басейните, градината или планината. Насладете се на тишината и
                    спокойствието!</p>
            </td>
        </tr>
        <tr>
            <td><img src="{{summerBar.img7}}" alt="" class="summer-bar-img"></td>
            <td>
                <h1>ПЛАНИНСКА ГЛЕДКА</h1>
                <p>Релаксираща гледка към басейните, градината или планината. Насладете се на тишината и
                    спокойствието!</p>
            </td>
            <td><img src="{{summerBar.img8}}" alt="" class="summer-bar-img"></td>
        </tr>
        <tr>
            <td>
                <h1>ПЛАНИНСКА ГЛЕДКА</h1>
                <p>Релаксираща гледка към басейните, градината или планината. Насладете се на тишината и
                    спокойствието!</p>
            </td>
            <td><img src="{{summerBar.img9}}" alt="" class="summer-bar-img"></td>
            <td>
                <h1>ПЛАНИНСКА ГЛЕДКА</h1>
                <p>Релаксираща гледка към басейните, градината или планината. Насладете се на тишината и
                    спокойствието!</p>
            </td>

        </tr>
    </table>
</section>