<section id="title">
    <h1>Двустаен апартамент</h1>
</section>

<section id="images">
    <div class="grid-container">
        <div class="grid-item"><img src="{{twoRoomsApart.img1}}" alt="" class="imageInGrid"></div>
        <div class="grid-item"><img src="{{twoRoomsApart.img2}}" alt="" class="imageInGrid"></div>
        <div class="grid-item"><img src="{{twoRoomsApart.img3}}" alt="" class="imageInGrid"></div>
        <div class="grid-item"><img src="{{twoRoomsApart.img4}}" alt="" class="imageInGrid"></div>
        <div class="grid-item"><img src="{{twoRoomsApart.img5}}" alt="" class="imageInGrid"></div>
        <div class="grid-item"><img src="{{twoRoomsApart.img6}}" alt="" class="imageInGrid"></div>

    </div>
</section>

<section id="description">
    <h3>Описание</h3>
    <table>
        <tr>
            <td><b><i>Обща информация: </i></b>{{twoRoomsApart.info}}</td>
            <td><b><i>Капацитет: </i></b>{{twoRoomsApart.capacity}}</td>
            <td><b><i>Размер на стаята: </i></b>{{twoRoomsApart.roomSize}}</td>
            <td><b><i>Тераса: </i></b>{{twoRoomsApart.terrace}}</td>
        </tr>
        <tr>
            <td><b><i>Самостоятелна баня/Душ кабина: </i></b>{{twoRoomsApart.privateBathroom}}</td>
            <td><b><i>Изглед: </i></b>{{twoRoomsApart.view}}</td>
            <td><b><i>Домашни любимци: </i></b>{{twoRoomsApart.pets}}</td>
            <td><b><i>Намаления и доплащания: </i></b>{{twoRoomsApart.discounts}}</td>
        </tr>
    </table>
</section>