<h1>ВИП апартамент</h1>

<p><b>INFO: </b>{{vipApart.info}}</p>
<p><b>CAPACITY: </b>{{vipApart.capacity}}</p>
<p><b>ROOM SIZE: </b>{{vipApart.roomSize}}</p>
<p><b>TERRACE: </b>{{vipApart.terrace}}</p>
<p><b>PRIVATE ROOM: </b>{{vipApart.privateRoom}}</p>
<p><b>VIEW: </b>{{vipApart.view}}</p>
<p><b>PETS: </b>{{vipApart.pets}}</p>
<p><b>DISCOUNTS: </b>{{vipApart.discounts}}</p>

<img src="{{vipApart.img1}}" alt="img1">
<img src="{{vipApart.img2}}" alt="img2">
<img src="{{vipApart.img3}}" alt="img3">
<img src="{{vipApart.img4}}" alt="img4">
<img src="{{vipApart.img5}}" alt="img5">