<section id="title">
    <h1>ВИП апартамент</h1>
</section>

<section id="images">
    <div class="grid-container">
        <div class="grid-item"><img src="{{vipApart.img1}}" alt="" class="imageInGrid"></div>
        <div class="grid-item"><img src="{{vipApart.img2}}" alt="" class="imageInGrid"></div>
        <div class="grid-item"><img src="{{vipApart.img3}}" alt="" class="imageInGrid"></div>
        <div class="grid-item"><img src="{{vipApart.img4}}" alt="" class="imageInGrid"></div>
        <div class="grid-item"><img src="{{vipApart.img5}}" alt="" class="imageInGrid"></div>
        <div class="grid-item"><img src="{{vipApart.img6}}" alt="" class="imageInGrid"></div>

    </div>
</section>

<section id="description">
    <h3>Описание</h3>
    <table>
        <tr>
            <td><b><i>Обща информация: </i></b>{{vipApart.info}}</td>
            <td><b><i>Капацитет: </i></b>{{vipApart.capacity}}</td>
            <td><b><i>Размер на стаята: </i></b>{{vipApart.roomSize}}</td>
            <td><b><i>Тераса: </i></b>{{vipApart.terrace}}</td>
        </tr>
        <tr>
            <td><b><i>Самостоятелна баня/Душ кабина: </i></b>{{vipApart.privateBathroom}}</td>
            <td><b><i>Изглед: </i></b>{{vipApart.view}}</td>
            <td><b><i>Домашни любимци: </i></b>{{vipApart.pets}}</td>
            <td><b><i>Намаления и доплащания: </i></b>{{vipApart.discounts}}</td>
        </tr>
    </table>
</section>